.content-area {
    padding: 80px 0;
    min-height: 600px;
    text-align: center;
}

.content-area h2 {
    color: #F45B1C;
    text-decoration: underline;
}

.content-area button {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    margin-left: auto;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content-area button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
}